html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 300px;
  margin: 0 auto;
}

.calculator-block__counting-text {
  height: 20px;
  text-align: right;
  font-size: 20px;
  margin: 10px 56px;
  overflow: hidden;
}

.calculator-block {
  padding: 20px 0;
  border: 2px solid rgb(117, 116, 116);
  box-shadow: 10px 10px 15px 6px rgba(64, 22, 44, 0.53);
  background-color: #f4def7;
}

.title-block {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.title-block__img {
  max-height: 100px;
  width: 100px;
}

.calculator-block__result {
  height: 49px;
  max-width: 218px;
  margin: 10px auto;
  padding: 5px 15px;
  border: 2px solid rgba(5, 3, 4, 0.279);
  background-color: #fff;
}

.calculator-block__result-text {
  margin: 0;
  text-align: right;
  font-size: 30px;
  overflow: hidden;
}

h1 {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
  text-align: center;
}

.title-block__title {
  background: -webkit-linear-gradient(90deg, #e78ee6 0%, #7de9df 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 90px;
}

.grid-block {
  margin: 10px;
  width: 218px;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  margin: 0 auto;
}

.grid-block__item {
  margin: 2px;
  padding: 0;
}

/* zero */
.grid-block__item:nth-child(17) {
  grid-column: 1 / span 2;
}

.grid-block__button-number {
  padding: 0;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(5, 3, 4, 0.279);
  box-shadow: 4px 4px 5px 2px rgba(84, 62, 83, 0.75);
  background-color: #f9b9f4;
  transition: transform 4s;
}

.grid-block__button-number:hover {
  background-color: #c47bbe;
  transition: background-color 0.6s;
}

.grid-block__button_size_big {
  padding: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(5, 3, 4, 0.279);
}

.grid-block__button-all-clean,
.grid-block__button-clean,
.grid-block__button-equal {
  padding: 0;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(5, 3, 4, 0.279);
  box-shadow: 4px 4px 5px 2px rgba(84, 62, 83, 0.75);
  background-color: #d0aef4;
}

.grid-block__button-all-clean:hover,
.grid-block__button-clean:hover,
.grid-block__button-equal:hover {
  background-color: rgb(140, 111, 172);
  transition: background-color 0.6s;
}

.grid-block__button-operator {
  padding: 0;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(5, 3, 4, 0.279);
  box-shadow: 4px 4px 5px 2px rgba(84, 62, 83, 0.75);
  background-color: #a1edf4;
}

.grid-block__button-operator:hover {
  background-color: #72b0b6;
  transition: background-color 0.6s;
}
